$color-primary-05: #faeeff;
$color-primary-60: #6188ff;
$color-primary-80: #476cf8;
$color-primary-100: #3860fb;

$color-secondary-100: #323546;

$color-error: #ff0000;
$color-success: #24bf4a;

$color-win: #03f73c;
$color-loss: #f72c40;
$color-void: #2e63f7;

$color-neutral-00: #fff;
$color-neutral-50: #F1EDEE;
$color-neutral-100: #cfd6e4;
$color-neutral-120: #797b79;
$color-neutral-150: #000;

$color-background: rgb(23, 23, 26); 
$color-gradient-first: rgb(34, 37, 49);
$color-gradient-second: rgba(34, 37, 49, 0);