@import "@/styles/principals/_colors.scss";

.first-steps-page {
  h2 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 35px;
  }

  article {
    max-width: 900px;
    margin: 0 auto;
  }

  a {
    display: block;
    padding-bottom: 25px;
    color: $color-primary-100;
    font-weight: 600;
  }

  p {
    padding-bottom: 30px;
    font-weight: 300;
    line-height: 22px;
  }

  div {
    padding-top: 25px;
    text-align: center;
    img {
      width: 900px;
    }
  }

}