.first-steps-page {
  h2 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 45px;
  }

  p {
    padding-bottom: 30px;
    max-width: 900px;
    margin: 0 auto;
    font-weight: 300;
    line-height: 22px;
  }

  div {
    padding-top: 25px;
    text-align: center;
    img {
      width: 900px;
    }
  }

}