@import "@/styles/principals/_colors.scss";
@import "@/styles/principals/_medias.scss";


.stats-page {
  padding-bottom: 25px;

  h2 {
    font-size: 24px;
    color: $color-neutral-00;
    text-align: center;
  }

  h4 {
    font-size: 16px;
    color: $color-neutral-00;
    text-align: center;
    margin: 25px auto;
  }

  h6 {
    font-size: 14px;
    color: $color-neutral-00;
    text-align: center;
    padding: 0 16px;
  }

  &__type-container {
    display: flex;
    margin: 10px auto;
    border: 2px solid $color-secondary-120;
    padding: 10px;
    width: 310px;

    @media screen and (min-width : 384px) {
      width: fit-content;
    }

    p {
      padding-right: 10px;
    }

    &--active {
      color: $color-primary-100 !important;
      cursor: default !important;
    }

    &__grid {
      display: grid;
      grid-template-columns: 40px 40px 40px 40px 32px;
      grid-auto-rows: auto;
      gap: 10px;

      p {
        padding-right: 0 !important;
        span {
          cursor: pointer;
          color: $color-neutral-00;
          font-weight: 500;
          font-size: 14px;
        }
      }
    }

    &__flex {
      display: flex;
      justify-content: center;

      p {
        padding-right: 20px;
        span {
          cursor: pointer;
          color: $color-neutral-00;
          font-weight: 500;
          font-size: 14px;
        }

        &:last-of-type {
          padding-right: 0;
        }
      } 
    }
  }

  @media #{$mediaTablet} {

    h6 {
      max-width: 600px;
      padding-left: 0;
      padding-right: 0;
      margin: 30px auto;
    }
  }

  @media #{$mediaDesktop} {
    h2 {
      font-size: 30px;
    }

    h4 {
      font-size: 20px;
    }

    h6 {
      font-size: 16px;
    }
  }
}

.table-stats {
  border-collapse: collapse;
  border: 1px solid rgb(34, 37, 49);
  max-width: 900px;
  margin: 20px auto; 
  color: $color-neutral-00;

  &__bet {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 auto;

    &--win {
      background-color: $color-win;
    }

    &--void {
      background-color: $color-void;
    }

    &--loss {
      background-color: $color-loss;
    }
  }

  &__result {
    font-weight: 700 !important;

    &--win {
      color: $color-win;
    }

    &--void {
      color: $color-void;
    }

    &--loss {
      color: $color-loss;
    }
  }

  td {
    border: 1px solid $color-secondary-120;
  }

  th {
    border: 1px solid $color-secondary-120;
    text-align: center;
    padding: 8px;
  }

  thead > tr {
    background-color: #17171a;
    padding: 5px;
    margin: 0;
  }

  tbody > tr {
    td {
      padding: 5px 10px;
      text-align: center;
    }
  }
}