@import "@/styles/principals/_fonts.scss";
@import "@/styles/principals/_colors.scss";
@import "@/styles/principals/_medias.scss";

*:not(i) {
  font-family: Krub, Raleway, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: $color-neutral-00;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.body {
  background-color: $color-background !important;
  background: linear-gradient($color-gradient-first 0%, $color-gradient-second 70%);
  min-height: calc(100vh - 173px);
  padding-top: 50px;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.text-win {
  color: $color-win;
}

.text-loss {
  color: $color-loss;
}

.text-void {
  color: $color-void;
}

.card-btn {
  width: 75px;
  cursor: pointer;
  background-color: $color-secondary-100;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-weight: 500;

  &:hover {
    background-color: $color-primary-80;
  }
}